body {
  font-family: 'Catamaran', sans-serif;
  background-color: #413e3b;
  color: #BCABAE;
}

.button, .button:visited, .button:active, .button:focus {
  background-color: #247ba0;
  border: 0px;
}

.button:disabled, .button:disabled:hover {
  background-color: #657b85 !important;
  border: 0px;
}

.button:hover {
  background-color: #266986 !important;
  border: 0px;
}

.welcome {
  margin: auto;
  margin-top: 15px;
  align-content: center;
  text-align: center;
  /* width: 80%; */
}

.centred {
  align-content: center;
}

.game-control-element {
  width: 100%;
  max-width: 100%;
}

.game-area {
  margin: auto;
  align-content: center;
  text-align: center;
}

@media only screen and (min-width:990px) {

  .game-area  {
    max-width: 750px;
  }
}
